@charset "UTF-8";

.blog-list{
  display: flex;
  flex-wrap: wrap;
}

.blog-item{
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
	margin-top: 20px;
  align-items: center;
}

.blog-item:nth-child(3n){
  margin-right: 0;
}

.blog-item-date{
  font-size: 14px;
  margin-top: 5px;
}

.blog-item-ttl{
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 768px){
  .blog-item{
    width: 100%;
    margin-right: 0;
  }

  .blog-item:first-child{
    margin-top: 0;
  }
}